@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
	background: url (ocean.jpg) center center fixed no-repeat;
	position: relative;
}

#bg_video{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}

#wrapper{
	text-align: center;
}

#wrapper p{
	text-align:center;
	margin-top: 450px;
	color: white;
	font-size: 3em;
}

#mybook, #library{
	
	display: inline-block;
	margin-top: 100px;
	
	font-size: 2em;
	color: white;
	/* border: 1px solid #b1dce9; */
	border: 1px solid white;
	/* background: rgba(181,225,225,0.8); */
	/* background: rgba(210,166,150,0.8); */
	border-radius: 5px;
	box-shadow: 2px 2px 5px #A9A9A9;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 5px;
	margin-right: 5px;
	font-family:'Asap',Verdana,sans-serif;
}

#typing{
	color: white;
	margin:0;
	padding:0;
	line-height:1;
	word-spacing:0px;
	text-align:center;
	letter-spacing:0px;
	font-family:'Asap',Verdana,sans-serif;
}

