@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
	background: url (ocean.jpg) center center fixed no-repeat;
	position: relative;
}

#bg_video{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}

#wrapper{
	position: absolute;
	
	left: 20%;
	/* border: 1px solid white; */
	padding: 20%;
	padding-left: 18%;
	padding-top: 26%;
	
}

#mybook, #library{
	text-align: center;
	font-size: 2em;
	/* color: white; */
	/* border: 1px solid #b1dce9; */
	background: rgba(180,220,160,0.6);
	border-radius: 5px;
	box-shadow: 2px 2px 5px #A9A9A9;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	margin-left: 35px;
	margin-right: 45px;
}
