@CHARSET "UTF-8";
/* 
body{
	background-image: url(../../images/mybook/maruya009.jpg);
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
	
}
 */

html {
	background: url(../../images/mybook/back22.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wrapper{
	text-align: center;
	width: 1800px;
	/* position: relative; */
	border: 1px solid red;
}

/* 최근 서재 div */
#recentBook{
	
	background: url(../../images/mybook/bookshelf11.png) no-repeat;
	background-size: 100%;
	
	/* position: absolute; */
	float: left;
	
	margin: 50px 50px 0 50px;
	
	position: absolute;
	width: 830px;
	height: 690px;
	
	padding: 10px 65px 10px 65px; 
	border: 1px solid black;
	
}

/* 책 이미지 div */
#imgtest{
	float: left;
	width: 80px;
	height: 90px;
	margin: 0 36px 88px 36px;
	border: 1px solid black;
}

/* 책 이미지 img */
#imgtest img{
	width: 120px;
	height: 100px;
}

#BookList{
	float: right;
}



