@CHARSET "UTF-8";

#titleP{
	padding: 10px 80px 20px 100px;
	font-size: 1.4em;
	/* font-family:monospace,monospace; */
	font-family:Verdana,sans-serif;
}
#titleP span:nth-of-type(1){
	padding-right: 5px;
	border-bottom: 1px solid gray;
}
#titleP span:nth-of-type(2){
	float: right;
	border-bottom: 1px solid pink;
	font-size: 0.8em;
}

#wrapper{
	margin: 0 auto;
	border: 1px solid black;
	width: 1450px;
	height: 820px;
	padding: 10px 20px 50px 20px;
	margin: 0 auto;
	background:
		url(../../images/mybook/testbookback10.jpg)
		no-repeat;
	background-size: cover;
	border-radius: 20px;
}

#pageSelDiv{
	margin: 0 5px 10px 0;
	text-align: right;
	vertical-align: middle;
}
#pageSelDiv span{
	color: white;
	font-size: 1.2em;
}
#pageSelDiv input[type=text]{
	font-size: 1.2em;
	border:1px #999999 solid;
    padding:3px 3px 1px 3px;
    color:#4D4D4D;
	width: 40px;
	height: 20px;
	border-radius: 3px;
}
#pageSelDiv img{
	margin: 0 auto;
	margin-left: 5px;
}
.textAr{
	width: 100%;
	height: 700px;
	font-size: 1.2em;
	font-family:Verdana,sans-serif;
}
#loading{
	position: absolute;
	border: 1px solid black;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: white;
}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin:0 auto;
	margin-top: 20%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}