@CHARSET "UTF-8";
.table3{
	border-top: solid 3px #6f90e7;
	border-bottom: solid 1px #DEDEDE;
	width: 91%;
	border-collapse: collapse;
}
.table3 td{
	font-size:1.3em;
}
.add_notice{
	margin-top: 20px;
	float: right;
	margin-right: 45px;
	font-size:1.1em;
}
.add_notice2{
	padding: 5px;
	font-size: 1.4em;
	font-weight: bold;
		
}
#notice_body {
	width: 730px;
	height: 800px;
	overflow: hidden;
	margin-left: 100px;
	float: right;
}

.divPage {
	clear: both;
	float: right;
	margin-right: 448px;
	margin-top: 15px;
}

.notice_Ad {
	float: left;
	width: 400px;
	height: 650px;
	margin-top: 93px;
	margin-left: 20px;
}




#noticeWrite {
	clear: both;
	float: right;
	margin-right: 70px;
	margin-top: 10px;
}



#notice_head {
	float: right;
	margin-right: 330px;
	margin-top: 30px;
}

.list, .write, .view {
	width: 100%;
}

#search2{
	
	width:90%;
	text-align:right;
/* 	margin-right:10px; */
	
}
.searchCondition{
	height:22px;
}

#searchInfo1{
	background-color: rgba(186,192,182, 0.7);
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
}

.list .searchbox {
	clear: both;
	border: solid 1px #f9f8d9;
	width: 725px;
	padding: 4px;
	float: right;
	margin-bottom: 10px;
	margin-right: 70px;
	margin-top: 30px;
}

.list .searchbox p {
	border: solid 1px #E6E5F2;
	background: #EFEEF7;
	text-align: center;
	padding: 9px 0px;
	width: 638px;
}

.list .searchbox p select {
	width: 95px;
}

.list .searchbox p .txt {
	width: 130px;
	height: 14px;
}

.list .searchbox p .btn {
	margin-bottom: -2px;
	border: 0px;
}

.list table {
	border-top: solid 3px #6f90e7;
	border-bottom: solid 1px #DEDEDE;
	margin-top: 25px;
	width: 657px;
	float: right;
	margin-right: 70px;
}

.list th {
	background: #F7F7F7 url("/images/board/th_bg.gif") no-repeat right
		bottom;
	height: 31px;
	border-bottom: solid 1px #E6E6E6;
}

.list th.last {
	background-image: none;
}

.list td {
	height: 29px;
	background: White;
	text-align: center;
	padding: 3px 0px;
	border-bottom: solid 1px #DEDEDE;
}

.list tr.first td {
	border-top: solid 3px #F0F0F0;
}

.list tr.alternate td {
	background: #FAF8FF;
}

.list td.title {
	text-align: left;
	padding-left: 18px;
}

.list .nunn {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 23px;
	float: left;
}

.list .nunn a {
	padding: 0px 5px;
}

.list .nunn a img {
	margin-bottom: -2px;
}

.list .nunn a.current {
	font-weight: bold;
}

.list .btn_write {
	float: right;
	border: 0px;
}

.list .btn_list {
	float: right;
	margin-top: 20px;
	padding: 0 0 3px 0;
	overflow: hidden;
	display: block;
	width: 100%;
	text-align: right;
}

.view table {
	width: 650px;
}

.view .bname td {
	background-color: #FAFAFA;
	border-top: solid 2px #D4E08E;
	border-bottom: solid 1px #CCCCCC;
	height: 33px;
}

.view .bname .name {
	border-top-color: #AECC29;
	font-weight: bold;
	background: #FAFAFA url("/images/board/ico_board_name.gif") no-repeat
		21px 10px;
	text-indent: 30px;
}

.view th {
	text-align: left;
	text-indent: 30px;
	background: url("/images/board/ico_bul_rect.gif") no-repeat 20px 12px;
}

.view .title, .view .info, .view .info1, .view tfoot tr {
	height: 33px;
}

.view .title td, .view .title th {
	border-top: solid 2px #EEEEEE;
	border-bottom: dotted 1px #DDDDDD;
}

.view .info1 td, .view .info1 th {
	border-bottom: dotted 1px #DDDDDD;
}

.view .title th, .view .info th, .view .info1 th, .view tfoot th {
	background-color: #F7F8F9;
}

.view .title td, .view .info1 td, .view tfoot td {
	padding-left: 13px;
}

.view .info td {
	text-align: center;
}

.view .info th, .view .info td {
	border-bottom: solid 1px #CACACA;
}

.view tbody tr {
	padding: 15px 26px;
	height: 285px;
	vertical-align: top;
}

.view tbody td {
	border-bottom: solid 1px #CACACA;
	padding: 0px;
}

.view tbody td p {
	padding: 25px;
	width: 600px;
	float: left;
	margin: 0px;
	line-height: 1.8;
}

.view tfoot th, .view tfoot td {
	border-bottom: dotted 1px #DDDDDD;
}

.view tfoot .last th, .view tfoot .last td {
	border-bottom: solid #CCCCCC;
}

.view span {
	float: right;
	margin-top: 23px;
}

.view td .box_borderno {
	border: 0px;
}

.view td .txt {
	width: 250px;
	background-color: #FAFAFB;
	padding: 2px 0px 0px 2px;
	height: 16px;
	margin-top: 3px;
	float: left;
}

.td_1 {
	width: 15%;
	height: 20px;
	font-size: 1.2em;
	text-align: center;
	background-color: #CCCCCC;
	padding: 0;
}

#detail_body {
	float: right;
	width: 700px;
	height: 800px;
	overflow: hidden;
	margin-right: 70px;
}

.td_2 {
	width: 120px;
	height: 20px;
	margin-left: 5px;
	border: 1px solid #CCCCCC;
	text-align: left;
}

.td_3 {
	width: 160px;
	height: 20px;
	border: 1px solid #CCCCCC;
	text-align: center;
}

.td_4 {
	width: 60px;
	height: 20px;
	border: 1px solid #CCCCCC;
	text-align: center;
}

.td_5 {
	border: 1px solid #CCCCCC;
	text-align: left;
}

.detail_table {
	width: 100%;
	font-size: 1em;
}

.detail_table .qnaTitle{
	width:150px;
	height: 30px;
	text-align: center;
	background-color: #CCCCCC;
	padding: 0;
	font-weight: bold;
}

.td_9 {
	width: 15%;
	height: 20px;
	font-size: 1.2em;
	background-color: #CCCCCC;
	text-align: center;
}

.tr_1 {
	margin-top: 20px;
}

.td_6 {
	width:700px;
	font-size: 1.2em;
	padding: 10px;
}

#notice_banner {
	margin-top: 40px;
	margin-left: 125px;
}

.notice_delete {
	clear:both;
	float: right;
	margin-top: 20px;
}

.notice_p {
	clear: both;
	text-align: center;
	font-size: 1.2em;
	font-style: bold;
	margin-bottom: 30px;
}
.notice_p2{
	clear: both;
	text-align: center;
	font-size: 1.2em;
	font-style: bold;
	margin-top: 80px;
	margin-bottom: 30px;
}
#noticeSubmit{
   background-color: rgba(221,221,221, 0.7);
   margin-top:15px;
   border-radius: 5px;
   pading-right:10px;
   width:74px;
   height:30px;
   white-space: nowrap;
}
/* 공지사항 쓰기 CSS  */
.notice_list a img {
	clear:both;
	float: right;
	margin-top: 20px;
}

#frm1 {
	float: right;
	margin-right: 90px;
	margin-top: 50px;
}

.notice_Write {
	text-align: center;
	margin-bottom: 50px;
	font-size: 1.3em;
	margin-right: 15px;
}
.notice_Write p{
	font-weight: bold;
	font-size: 1.3em;
	text-align: left;
}

.notice_Title {
	padding-top: 3px;
	padding-bottom: 3px;
}

.notice_UserName {
	padding-top: 3px;
	padding-bottom: 3px;
}

.notice_Content {
	width:650px;
	margin-top: 20px;
	/* 	<textarea name="summary" id="summary" rows="10" cols="100" style="width:570px; height:230px;"></textarea> */

}

.notice_submit {
	clear: both;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top : 20px;
	float: right;
	margin-right: 18px;
}

.notice_File {
	padding-top: 3px;
	padding-bottom: 3px;
}

/* 공지사항 수정  css */
#edit_body{
	float: right;
	width: 700px;
	height: 800px;
	overflow: hidden;
	margin-bottom: 50px;
}
.edit_submit{
	clear: both;
	float: right;
	margin-top: 25px;
	margin-right: 63px;
}

/* 사이트맵 css */
.siteMap {
	margin-top: 200px;
	float: right;
	width: 800px;
	height: 600px;
}

.siteMap_1 {
	float: left;
	position: relative;
}

.siteMap_2 {
	float: left;
	position: relative;
}

.siteMap_3 {
	float: left;
	position: relative;
}

.siteMap_4 {
	clear: both;
	float: left;
	position: relative;
}

.siteMap_5 {
	float: left;
	position: relative;
}

.siteMap_6 {
	/* border: 1px solid black; */
	float: left;
	position: relative;
}

.siteMap_1 .siteMap_text {
	margin-bottom: 8px;
}

.siteMap_1 div {
	/* border: 1px solid black; */
	position: absolute;
	top: 0;
	width: 100%;
	padding: 40px 40px 60px 50px;
}
.siteMap_1 div p{
	font-weight: bold;
	font-size: 1.2em;
}
.siteMap_1 div a{
	line-height: 22px;
}

.siteMap_2 .siteMap_text {
	margin-bottom: 8px;
}

.siteMap_2 div {
	/* border: 1px solid black; */
	position: absolute;
	top: 0;
	width: 100%;
	padding: 40px 40px 60px 50px;
}
.siteMap_2 div p{
	font-weight: bold;
	font-size: 1.2em;
}
.siteMap_2 div a{
	line-height: 22px;
}

.siteMap_3 .siteMap_text {
	margin-bottom: 8px;
}

.siteMap_3 div {
	/* border: 1px solid black; */
	position: absolute;
	top: 0;
	width: 100%;
	padding: 40px 40px 60px 50px;

}
.siteMap_3 div p{
	font-weight: bold;
	font-size: 1.2em;
}
.siteMap_3 div a{
	line-height: 22px;
}

.siteMap_4 .siteMap_text {
	margin-bottom: 8px;
}

.siteMap_4 div {
	/* border: 1px solid black; */
	position: absolute;
	top: 0;
	width: 100%;
	padding: 40px 40px 60px 50px;

}
.siteMap_4 div p{
	font-weight: bold;
	font-size: 1.2em;
}
.siteMap_4 div a{
	line-height: 22px;
}

.siteMap_5 .siteMap_text {
	margin-bottom: 8px;
}

.siteMap_5 div {
	/* border: 1px solid black; */
	position: absolute;
	top: 0;
	width: 100%;
	padding: 40px 40px 60px 50px;

}
.siteMap_5 div p{
	font-weight: bold;
	font-size: 1.2em;
}
.siteMap_5 div a{
	line-height: 22px;
}

.siteMap_6 .siteMap_text {
	margin-bottom: 8px;
}

.siteMap_6 div {
	/* border: 1px solid black; */
	position: absolute;
	top: 0;
	width: 100%;
	padding: 40px 40px 60px 50px;
}
.siteMap_6 div p{
	font-weight: bold;
	font-size: 1.2em;
}
.siteMap_6 div a{
	line-height: 22px;
}



/* 고객센터 css */
/* 1:1 문의 css */
#question{
	clear:both;
	float:right;
	width:800px;
	height:90%;
	margin-top: 100px;
}
.question_head{
	margin-left: 30px;
}
.question_p{
	margin-bottom: 30px; 
	margin-left:30px;
	font-weight: bold;
	font-size: 1.2em;
}
.question_body{
	margin-left: 30px;
	margin-top: 30px;
}
.question_submit{
	clear: both;
	float: right;
	margin-right:133px;
	margin-top: 30px;
}
