@CHARSET "UTF-8";

#container{
	overflow: scroll;
}
/* 사이드 장바구니 목록 */
#cartDiv{
	border: 1px solid #ffe6e6;
	border-radius: 3px;
	float: right;
	width: 150px;
	padding: 5px;
	position: absolute;
	top: 180px;
	right: 300px;
}
#cartDiv li{
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 1px solid #efefef;
}
#cartDiv li:first-of-type{
	background-color: rgba(240,240,240,0.5);
	border-radius: 5px;
}
#cartDiv li:last-of-type{
	margin-top: 20px;
	padding: 5px 0 5px 0;
	background-color: rgba(255,240,210,0.5);
	border-radius: 5px;
}

#bookListWrapper{
	/* border: 1px solid black; */
	margin: 20px 0 0 20px;
	padding: 20px;
	
	width: 800px;
	height: 100%;
}
#countSpan{
	color: orange;
}
/* 검색 */
#searchSpan{
	margin-top: 20px;
	margin-bottom: 10px;
}
#searchSpan span{
	/* border: 1px solid black; */
	cursor: pointer;
	border-radius: 5px;
	margin-left: 10px;
	padding: 5px;
}


#bookListDiv{
	/* border: 1px solid black; */
	border-bottom: 1px solid #bbbbbb;
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 5px;
	
	width: 100%;
	height: 215px;
	
	position: relative;
}
/* 책 커버 이미지 */
#bookListDiv img{
	float: left;
	width: 150px;
	height: 100%;
}
/* 책 제목 */
#bookListDiv p{
	/* font-family:monospace,monospace; */
	font-family:Verdana,sans-serif;
}
#bookTitleP{
	/* text-align: center; */
	font-size: 1.2em;
	/* border: 1px solid black; */
	padding-left: 190px;
}
#bookTitleP:hover{
	cursor: pointer  ;
}

/* 선택 */
.choice{
	/* border: 1px solid black; */
	margin-top: 30px;
	margin-right: 10px;
	float: right;
}
.choice #quantity{
	width: 30px;
	margin-bottom: 20px;
}
/* 
체크박스 크기 변경
.choice input[type=checkbox]{
	CSS 체크박스 크기 변환
	-ms-transform: scale(2); IE
	-moz-transform: scale(2); FF
	-webkit-transform: scale(2); Safari and Chrome
	-o-transform: scale(2); Opera
}
 */
.choice input{
	display: block;
	margin-top: 10px;
	
	border: 1px solid #adadad;
	outline: 0;
	padding: 3px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: #000000;
	
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	width: 100px;
	height: 40px;
	border-radius: 2px;
	
	/* font-family:monospace,monospace; */
	font-family:Verdana,sans-serif;
}
#cart{
	background-color: rgba(180, 220, 250, 0.5);
}
#buy{
	background-color: rgba(0, 0, 0, 0);
}


/* 책 설명 */
#bookSummaryDiv{
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	float: right;
	width: 55%;
	height: 50%;
	margin-top: 15px;
	margin-right: 20px;
	padding: 5px;
	overflow: hidden;
}
#bookSummaryDiv *{
	/* float: left; */
}

/* 책 가격 */
#bookListDiv #bookPriceDiv{
	/* border: 1px solid black; */
	position: absolute;
	left: 200px;
	bottom: 5px;
	font-size: 0.8em;
	clear: both;
}
#bookListDiv #bookPriceDiv p{
	text-align: left;
}
#bookListDiv #bookPriceDiv p:nth-of-type(1){
	color: red;
}
#bookListDiv #bookPriceDiv p:nth-of-type(2){
	color: green;
}

/* 정렬 */
#sortDiv{
	text-align: right;
	margin-bottom: 100px;
	margin-top: 30px;
}
#sortDiv li{
	border-bottom: 1px solid #acffc2;
	float: right;
	margin-left: 10px;
}
#sortDiv li:hover{
	cursor: pointer;
	
}


/* 장바구니 팝업 */
.cart{
	position: relative;
}
.popuptext {
	display:none;
	font-size:0.8em;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -80px;
}

/* 페이징처리 */
.divPage{
	text-align: center;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
