@CHARSET "UTF-8";

/* Layout ***********************************************************************/

body {margin:0px; padding:0px;  }

/* container_out */
#container_out{ width:100%; margin:0 auto; padding:0; position:relative; overflow:hidden; background:url(/images/gmi/main/main_bg.jpg) no-repeat center top; border: 1px solid hotpink;}


/* container */
#container{ width:954px; margin:0 auto; padding:0 0 20px 0; position:relative; background:none;}




/*main_visual_text*/
#main_visual_text { margin:0; padding:0; position:absolute; top:204px; left:81px;}


  
/* search */
  #m_search { margin:0; width:387px; height:34px; overflow:hidden; position:absolute; top:366px; left:70px; float:left; padding:0; display:inline; background:url(/images/gmi/main/search_bg.gif) no-repeat;}
  #m_search h2 {margin:0px; padding:5px 0 0 14px; width:83px; background:none; float:left;}
  #m_search fieldset { border:0; margin:0; padding:0; clear:both; }
  #m_search legend { width:0; height:0; overflow:hidden; visibility:hidden;}
  #m_search input.search_btn { margin:5px 14px 0 0;  vertical-align:top; float:right; } 
  #m_search input.inputText { margin:5px 0 0 5px; padding:5px 0 0 0; vertical-align:middle; width:219px; height:17px; background:#ffffff; border:1px solid #fdfaeb; float:left; }




/*main_center*/
#main_con { margin:304px 0 0 65px; padding:0 0 60px 0; width:848px; float:left; position:relative; overflow:hidden;}





  /* popupZone */
  #popupZone { width:254px; height:180px; position:relative; margin:0; padding:0px; overflow:hidden; float:left;}
   #picpr { position: absolute; left: 0px; top: 0px; width: 254px;   }
   #picpr #tit{position: absolute; float:left; list-style: none; height:21px; width:254px;}
   #picpr #tit h2 { margin:0px; padding:0px;}
   
   #picpr #prcon { position: absolute; left:0; top:21px; overflow: hidden;  width:248px; height:153px;  z-index:1; background:#ffffff; border:3px #bbbbbb solid;}
   #picpr #prcon ul { padding:0px; margin:0px; list-style: none;  }
   #picpr #prcon ul li { margin:0px; padding:0px; }
   #picpr #prcon ul li img { margin:0px; padding:0; vertical-align:top; width:248px; height:153px; overflow:hidden;  }
  
   #picpr ul { position: absolute; left: 0; top: 0; list-style: none; }
   #picpr ul li { }
   #picpr ul li img { vertical-align: top; }

   #picpr #prnum { position:absolute; top:7px; right:0px;}
   #picpr #prnum img { float: left; margin:0 2px 0 0px; display:inline; font-size:0; cursor:pointer;}
    
  
   #picpr #prcontrol { position: absolute; list-style: none; top:0; left:45px; z-index:1;}
   #picpr #prcontrol img { float: left; display: inline; margin:0; cursor: pointer; padding:2px 2px 0 0; }

   
   
   .PZPlusRe { position:absolute; left:9px; top:52px; margin:0; padding:0; width:280px; display:none; z-index:10;}
   .PZPlusRe .PZList_frm { margin:0; padding:10px; width:256px; height:148px; border:2px solid #007ccd; background:#fff; overflow: auto; }
   .PZPlusRe .PZList_frm h2 { margin:0; padding:2px 5px; color:#fff; font-weight:bold; background:#007ccd; }
   .PZPlusRe .PZList_frm ul { list-style:none; margin:0; padding:0;}
   .PZPlusRe .PZList_frm ul li { margin:0; padding:3px 0 2px 10px; border-bottom:1px solid #c9c7c7; background:url(/img/F_main/ico_orange.gif) no-repeat 2px 50%;}
   .PZPlusRe .btn { float:right; margin:0; padding:0;}




  /* 알립니다 */
  #tab1 { margin:0 0 0 30px;  width:299px; padding:0px; height:184px; overflow:hidden; position:relative; float:left; }
 
 .list2 table {
	border-top: solid 3px #6f90e7;
	border-bottom: solid 1px #DEDEDE;
	margin-top: 25px;
	width: 100%;
	float: right;
	margin-right: 70px;
}
.list2 th {
	background: #F7F7F7 url("/images/board/th_bg.gif") no-repeat right
		bottom;
	height: 31px;
	border-bottom: solid 1px #E6E6E6;
}

.list2 th.last {
	background-image: none;
}

.list2 td {
	height: 29px;
	background: White;
	text-align: center;
	padding: 3px 0px;
	border-bottom: solid 1px #DEDEDE;
}
  
  
/*도서관 소통공간*/

  #sns { width:232px; margin:0 0 0 33px; padding:0; float:left; position:relative; overflow:hidden;}
  #sns h2 { width:366px; margin:0; padding:0; height:22px;}
  #sns #twitter { width:254px; height:79px;}




  /* 무인예약 */
  #reserve { margin:19px 0 0 35px; padding:0px; width:230px; height:56px; position:relative; float:left;  }
  #reserve li {width:67px; height:56px; padding:0 8px 0 0; margin:0; float:left; background:url(/images/gmi/main/c_banner_bar.gif) no-repeat right top;}
  #reserve li.last {width:67px; height:56px;  padding:0 0 0 8px;  margin:0; float:left; background:none;}







  /* 모바일서비스 */
  #mobile_service { margin:19px 0 0 10px; padding:0px; width:244px; height:71px; position:relative; float:left;  }
  #mobile_service li {width:64px; height:71px; padding:0; margin:0 22px 0 0; float:left;}
  #mobile_service li.last {width:64px; height:71px; padding:0;  margin:0; float:left;}






 /*퀵메뉴*/
#quick_menu { position:absolute; left:968px; top:340px; height:215px; margin:0; padding:0; width:52px;  z-index:5; }
 #quick {margin:0px; padding:0px; width:52px;}
 #quick ul {margin:0; padding:0px; list-style:none;}
 #quick ul li {margin:0; padding:0 0 10px 0; width:52px; text-align:center;  } 


#quick_menu p {  margin:15px 0 0 0; padding:0; text-align:center; }