@CHARSET "UTF-8";
/* Page Base */
@import url(template.css);
/* Page Layout */
@import url(main_layout.css);
/* Template Design */
@import url(header.css);
@import url(footer.css);
@import url(board.css);
@IMPORT url(ServiceCenter.css);

body{
	font-size: 1.03em;
}

/* 본문프린터용  */
@media print {
#head, #visual, #sidebar, #body_foot, #foot, #wing, #fontsize { display: none; }
#container { background: #fff; }
#body { margin: 0; padding: 0; background: #fff;}
}

#m_search{
	padding: 0;
}
/* 메인 책검색 섹션 */
.mSearchDiv{
	/* border: 1px solid black; */
	margin:0 auto;
	padding: 10px 30px;
	padding-left: 45px;
	background-color: #ffecd9;
	width: 1250px;
	/* margin-top: 100px; */
}
#mschSpan{
	color: white;
	font-size: 1.8em;
	font-weight: bold;
	vertical-align: middle;
}
#searchAllBook{
	display: inline;
	vertical-align: middle;
}
/* 책 검색 디브 */
.mSearchDiv input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../../images/mybook/icon/booksearchg.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
    margin: 10px;
}
input::-webkit-input-placeholder{
	color: #acacac;
}
input::-ms-input-placeholder{
	color: #acacac;
}
/* 
.mSearchDiv input[type=text]:focus {
    width: 70%;
}
 */
#searchInfo{
	background-color: rgba(200,255,200, 0.7);
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
}

/* 내서재 오세요 div */
#mbP{
	padding-left: 50px;
	text-align:left;
	/* font-family:monospace,monospace; */
	font-family:Verdana,sans-serif;
	font-weight: bold;
}
#main_video{
	margin-top: 10px;
	width: 80%;
	height: 80%;
}