@CHARSET "UTF-8";

/* Layout ***********************************************************************/

body {margin:0px; padding:0px;  }

/* container_out */
#container_out {
	width: 1665px;
	height: 1180px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: url(../../images/library/main/test2.png) no-repeat center;
	 
}


/* rightmenu 옆에 붙는 메뉴 */
/* 버튼들 */
#menuController{
	float: right;
	padding-top: 40px;
	padding-right: 230px;
	/* margin-bottom: 40px; */
}
#menuController a{
	display: none;
}

.menuBut{
	font-size:30px;
	cursor:pointer;
}
/* 메뉴들 */
#rightmenu{
	font-family: "Lato", sans-serif;
	position:absolute;
	position: fixed;
	right:1px;
	/* width: 180px; */
	width: 0px;
	/* height: 600px; */
	height: 100%;
	padding-top: 140px;
	/* margin-top:170px; */
	border-left: 1px solid #e0e0e0;
	background-color: white;
	z-index: 1;
}
#rightmenu .menuform{
	width:100%;
	height:50px;
	margin: 20px 0 20px 0;
	padding-left: 30px;
	/* text-align:center; */
	vertical-align: middle;
	
	/* border: 1px solid red; */
	/* background-color: rgba(255, 220, 220, 0.5); */
}
#lastMenuForm{
	border-bottom: 1px solid #e0e0e0; 
	padding-bottom: 100px;
	margin-bottom: 20px;
}
#rightmenu .menuform a{
	display:inline-block;
	/* margin: 15px 0 0 15px; */
	font-size: 1.2em;
	
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	
	/* font-family:monospace,monospace; */
	font-family:Verdana,sans-serif;
}
/* 좌측메뉴 장바구니 */
#sidecartDiv{
	margin-top: 30px;
	width:180px;
}

#sidecartDiv p:first-child{
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 50px;
}
#sidecartDiv p{
	height:20px;
	margin: 20px 0 20px 0;
	/* padding-left: 30px; */
	text-align:center;
	vertical-align: middle;
}
#sidecartDiv p:last-child{
	margin-top: 50px;
}
#sidecartDiv p:last-child a{
	font-weight: bold;
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	
}



/* 메뉴 여닫이 */
@media screen and (max-height: 450px) {
	.sidemenu {padding-top: 15px;}
	.sidemenu a {font-size: 18px;}
}
.sidemenu a:hover, .offcanvas a:focus{
    /* color: #f1f1f1; */
    color: black;
    font-weight: bold;
}

/* containers */
#container{
	width:1270px;
	height:936px;
	/* border: 1px solid pink; */
	margin: 38px 0 0 197px;
}

/*main_visual_text*/
#main_visual_text { margin:0; padding:0; position:absolute; top:204px; left:81px; clear: both;}

/* search */
#m_search #seek{
	margin:45px 0 0 0; 
	width:100%; 
	height:150px;
	border: 1px solid black;
}

/* month_book */
#month_book{
	margin:0; 
	width:100%; 
	height:300px;
	/* border: 1px solid black; */
	text-align: center;
	overflow: hidden;
}
#btnleft{
	border: 1px solid white;
	width: 50px;
	height: 50px;
}

/* bestsellerbook */
#mainBook{
	border-bottom: 1px solid #dbdbdb;
	margin:0 auto;
	width: 1050px;
	height: 250px;
	margin-bottom: 15px;
}
#mainBook p:first-child{
	border-bottom: 1px solid #dbdbdb;
	font-weight: bold;
	padding-bottom: 5px;
	font-family:Verdana,sans-serif;
}
/* 메인책 이미지 div */
.mainbooks{
	float: left;
	width: 125px;
	height: 200px;
	margin: 15px 40px 0 40px;
}
.mainbooks{
	cursor: pointer;
}
/* 메인책 이미지 img */
.mainbooks img{
	width: 100%;
	height: 75%;
}
.mainbooks p{
	margin:0;
	font-size:0.9em;
	text-align: center;
	font-family:Verdana,sans-serif;
}

/* mybook */
#mybook{
	float:left;
	width: 480px;
	height:280px;
	margin:15px 0 0 70px;
	/* border: 1px solid black; */
	text-align: center;
}
#slideshow{
	border: 1px solid gray;
}
 /* 공지사항 */
#tab1 {
	float:right;
	width: 480px;
	height:280px;
	margin:15px 70px 0 0;
	/* border: 1px solid black; */
}
#tab1 #tab1c1 .tabmore{
	position: relative;
	bottom: 1px;
	right: 1px;
}
/* 
.list2{
	border-top: 
}
 */
.add_notice a{
	color: gray;
}

/* 관리자 페이지 */
/* 페이지 타이틀 */
#adminTitleP{
	padding: 30px 0 30px 30px;
	font-size: 1.8em;
	font-weight: bold;
	font-family:Verdana,sans-serif;
}
#adminMainContentP{
	font-size: 1.5em;
	font-family:Verdana,sans-serif;
	text-align: center;
	margin-top: 200px;
}

/* 회원관리 페이지 */
#AdminMemDiv{
}
#AdminMemDiv table{
	margin: 0 auto;
	margin-top:50px;
	width: 1000px;
}
#AdminMemDiv table th{
	border-top: 1px solid #000000;
	border-bottom: 1px solid gray;
}
#AdminMemDiv table tr{
	text-align: center;
	border-bottom: 1px solid #dbdbdb;
	padding-top: 5px;
	padding-bottom: 5px;
}
#AdminMemDiv table tr:last-child{
	text-align: center;
	border-bottom: 1px solid #000000;
}
#excelSave, #event1, #btnapi{
	display:inline-block;
	margin: 50px 130px 0 0;
	float: right;
	font-size: 1.1em;
	font-family:Verdana,sans-serif;
	border: 1px solid black;
	border-radius: 2px;
	padding: 5px;
}