@CHARSET "UTF-8";
/* qnaList */
.bticons{
	
	text-align:right;
	padding-top:20px;
	margin-right:70px;
}
/* qnaWrite */
#Write_body {
	float: right;
	width:600px;
	height: 800px;
	overflow: hidden;
	margin-right: 100px;
}
.detail_table .qnaTitle{
	width:150px;
	height: 30px;
	text-align: center;
	background-color: #CCCCCC;
	padding: 0;
	font-weight: bold;
}
 

.write_table {
	width: 80%;
	margin-top: 30px;
	font-size: 1em;
}

#Bticon{
	text-align:right;
	margin-top:15px;
	margin-right:125px;
	padding:3px;
}


.searchbox3{
	both:clear;
	width:660px;
	text-align:right;
	margin-top:20px;
	margin-right:100px;
	
} 

/* 검색아이콘 */
#searchInfo2{
	background-color: rgba(186,192,182, 0.7);
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
}
/*하단부 버튼*/
.qnabt{
	background-color: rgba(194,203,248, 0.7);
	margin-top:15px;
	border-radius: 5px;
	pading-right:10px;
	width:74px;
	height:30px;
	white-space: nowrap;
	
}


/* qnadeletePage */

/* qnaComment */

#qnaCmt{
	padding:70px;
	 
	margin-bottom:10px;
	
	text-align:center;
	white-space: nowrap;
	width:90%;
	
}
#qnaCmt td{
	height:25px;
}
#qnaCmt .cmtTr_1{
	white-space: nowrap
	
}


#content{
	/* text-align:center; */
	margin-left: 10px;
}
.replyLb{
	margin-left: 120px;
	
}

#divCmw{
	width:500px;
	padding:20px;
	margin-left:140px;
	margin-top:40px;
}
.recmt{
	width:300px;
	padding:10px;
}


.cmt_td1{
	text-align:right;
	white-space: nowrap
}
.cmt_td2{
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
	white-space: nowrap
}
.cmt_td3{
	text-align:center;
	border-top:1px solid black;
	white-space: nowrap
}
.cmt_td4{
	text-align:center;
	border-bottom:1px solid black;
	white-space: nowrap
}
.cmt_td5{
	width:300px;
	padding:10px;
}
