@CHARSET "UTF-8";
/* qnaList */
.qnabt {
	
	font-weight:bold;
	text-decoration:none;
	font-family:Arial Black;
	box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 3px 2px;
	o-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 3px 2px;
	-moz-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 3px 2px;
	-webkit-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 3px 2px;
	background:#2ef1ff;
	background:-o-linear-gradient(90deg, #2ef1ff, #3b9ceb);
	background:-moz-linear-gradient( center top, #2ef1ff 5%, #3b9ceb 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2ef1ff), color-stop(1, #3b9ceb) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ef1ff', endColorstr='#3b9ceb');
	background:-webkit-linear-gradient(#2ef1ff, #3b9ceb);
	background:-ms-linear-gradient(#2ef1ff, #3b9ceb);
	background:linear-gradient(#2ef1ff, #3b9ceb);
	text-indent:0px;
	line-height:30px;
	-moz-border-radius:25px 25px 0 25px;
	-webkit-border-radius:25px 25px 0 25px;
	border-radius:25px 25px 0 25px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:15px;
	color:#ffffff;
	width:90px;
	height:40px;
	padding:5px;
	text-shadow:#6daac2 2px 2px 0px;
	border-color:#659dab;
	border-width:2px;
	border-style:solid;
	
}
.qnabt:active {
	box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
	o-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
	-moz-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
	-webkit-box-shadow:inset #ffffff 0px 5px 8px -1px,#d6d6d6 1px 0 2px;
	position:relative;top:3px}
.qnabt:hover {
	background:#3b9ceb;
	background:-o-linear-gradient(90deg, #3b9ceb, #2ef1ff);
	background:-moz-linear-gradient( center top, #3b9ceb 5%, #2ef1ff 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3b9ceb), color-stop(1, #2ef1ff) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b9ceb', endColorstr='#2ef1ff');
	background:-webkit-linear-gradient(#3b9ceb, #2ef1ff);
	background:-ms-linear-gradient(#3b9ceb, #2ef1ff);
	background:linear-gradient(#3b9ceb, #2ef1ff);
}


.bticons{
	padding-top:100px;
	height:100px;
	text-align:right;
	margin-right:50px;
}
#myWrite{
	
}

/* qnaWrite */
#Write_body {
	float: right;
	width:600px;
	height: 800px;
	overflow: hidden;
	margin-right: 100px;
}
.detail_table .qnaTitle{
	width:150px;
	height: 30px;
	text-align: center;
	background-color: #CCCCCC;
	padding: 0;
	font-weight: bold;
}
 

.write_table {
	width: 80%;
	margin-top: 30px;
	font-size: 1em;
}

#Bticon{
	text-align:right;
	margin-top:15px;
	margin-right:125px;
	padding:3px;
}


.searchbox3{
	both:clear;
	width:660px;
	text-align:right;
	margin-top:20px;
	margin-right:100px;
	
} 

/* 검색아이콘 */
#searchInfo2{
	background-color: rgba(186,192,182, 0.7);
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
}
.divPage{
	margin-top: 100px;
}


/* qnadeletePage */

/* qnaComment */

#qnaCmt{
	padding:70px;
	 
	margin-bottom:10px;
	
	text-align:center;
	white-space: nowrap;
	width:90%;
	
}
#qnaCmt td{
	height:25px;
}
#qnaCmt .cmtTr_1{
	white-space: nowrap
	
}


#content{
	/* text-align:center; */
	margin-left: 10px;
}
.replyLb{
	margin-left: 120px;
	
}

#divCmw{
	width:500px;
	padding:20px;
	margin-left:140px;
	margin-top:40px;
}
.recmt{
	width:300px;
	padding:10px;
}


.cmt_td1{
	text-align:right;
	white-space: nowrap
}
.cmt_td2{
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
	white-space: nowrap
}
.cmt_td3{
	text-align:center;
	border-top:1px solid black;
	white-space: nowrap
}
.cmt_td4{
	text-align:center;
	border-bottom:1px solid black;
	white-space: nowrap
}
.cmt_td5{
	width:300px;
	padding:10px;
}
