@CHARSET "UTF-8";
#qnaCmt{
	padding:70px;
	margin-right:30px;
	margin-bottom:10px;
	font-size: 1.0em;
}



#content{
	/* text-align:center; */
	margin-left: 10px;
}
#replyLb{
	margin-left: 120px;
	
}


#divCmw{
	font-size:1.4em;
	width:500px;
	padding:20px;
	margin-left:140px;
}

#qnaCmt td{
	height:23px;
}
#qnaCmt .cmtTr_1{
	white-space: nowrap;
	
}
.cmt_td1{
	text-align:right;
	white-space: nowrap;
	padding-right:5px;
	
}
.cmt_td2{
	text-align:left;
	border-top:1px solid black;
	border-bottom:1px solid black;
	white-space: nowrap;
	padding-left:10px;
}
.cmt_td3{
	text-align:center;
	border-top:1px solid black;
	white-space: nowrap
}
.cmt_td4{
	text-align:center;
	border-bottom:1px solid black;
	white-space: nowrap
}
.cmt_td5{
	width:300px;
	padding:10px;
}

#lbcmt{
	font-size:15px;
}