@CHARSET "UTF-8";
#qnaCmt{
	padding:70px;
	margin-right:30px;
	margin-bottom:10px;
	font-size: 1.3em;
}

/* #qnaCmt td:nth-child(n){
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;

} */
#qnaCmt td:nth-child(2n){
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;

}
#qnaCmt td:nth-child(3n){
	text-align:right;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	width:170px;
}
#content{
	/* text-align:center; */
	margin-left: 10px;
}
#replyLb{
	margin-left: 120px;
	
}

#divCmw{
	font-size:1.4em;
	width:500px;
	padding:20px;
	margin-left:140px;
}