@CHARSET "UTF-8";

#ServiceCenter_head{
	
}
#ServiceCenter_body{
	float: right;
	text-align: center;
	margin-right: 150px;
}
#ServiceCenter_body h1{
	margin-right: 177px;
}

#ServiceCenter_bodyP1 h1{
	font-size: 2.5em;
	font-weight: bold;
}
.add_notice3{
	clear:both;
	width:800px;
	height:300px;
	float: right;
	margin-top: 200px;
	font-size: 1.0em;
}
.hide{
	display: none;

}
.service_Tr{ 
	font-size: 1.2em;
	font-weight: bold;
	background: #f6f6f6;
}
#serivceCenter_1{
	width:250px;
	float: left;
}

#serviceCenter_2{
	clear:both;
	float:right;
	width:320px;
	margin-right: 480px;
	margin-top: 200px;
}

.myQuestion_table{
	width :800px;
	hegith : 500px;
	float : right;
	font-size: 0.9em;
	margin-top: 100px;
	margin-left: 100px;
}
.myQuestion_table th{
	border-bottom: 1px solid #333333;
}
.myQuestion_table td{
	padding: 8px;
	border:  1px solid #333333;
}

